<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Post Tags

    <a data-toggle="collapse" href="#post_post_tags_new_form">
      Add post tag
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @post.post_tags.each do |post_tag| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to post_tag.id, post_tag_path(post_tag) %>

        <%= link_to post_tag, method: :delete, data: { confirm: "Do you really want to delete this post_tag" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="post_post_tags_new_form">
        <%= render partial: "posts/post_post_tags_new_form" %>
      </div>
    </div>

  </ul>
</div>
